// src/App.sass

@import url("https://fonts.googleapis.com/css?family=Open+Sans")

html,
body,
ul,
ol,
h1, h2, h3, h4,
  margin: 0
  padding: 0

.app
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
  height: 100%
  width: 100%
  margin-left: 16px
  margin-right: 16px

.center
  display: flex
  flex-direction: column
  justify-content: center
  height: 100%
