.main
  position: absolute
  color: #333
  @media screen and (max-width: 451px)
    top: 32px
    bottom: 0px
    left: 0px
    right: 0px
  @media only screen and (min-width: 451px) and (max-width: 1024px)
    top: 64px
    bottom: 16px
    left: 16px
    right: 16px
  @media screen and (min-width: 1025px)
    top: 16px
    bottom: 16px
    left: 256px
    right: 256px

  .header
    display: flex
    height: 70px
    margin-left: 48px
    margin-right: 62px
    justify-content: space-between
    overflow: hidden

    .button
      margin-top: 28px

    .orderby-wrapper
      display: flex
      justify-content: flex-end


  .detail
    display: flex
    flex-direction: row
    justify-content: center


    h1
      margin-top: 28px
      margin-left: 16px
      color: #333

  .list
    position: absolute
    top: 72px
    bottom: 16px
    left: 0px
    right: 0px
    overflow-y: scroll
    overflow-x: hidden

    .content
      margin-left: 16px
      margin-right: 16px
      padding-bottom: 8px
      height: 100%
