.gh-list

  .header
    display: flex
    height: 48px
    justify-content: space-between

    .button
      margin-top: 28px
      margin-left: 8px

.orderby-wrapper
  display: flex
  justify-content: flex-end

.list
  height: 550px
  overflow-y: scroll
  overflow-x: hidden
  margin-top: 24px
