.list-item
  height: 128px
  margin-bottom: 12px
  display: flex

  .avatar-container
    padding: 4px
    height: 100%
    width: 100px

    .username
      text-overflow: ellipsis
      overflow: hidden
      width: 100%
      white-space: nowrap

  .content-container
    width: 100%
    padding: 4px

    .info-container
      display: inline-block

      .type
        min-width: 80px
