.list-item
  height: 128px
  margin-bottom: 12px
  display: flex

  .avatar-container
    padding: 4px
    height: 100%
    width: 100px

    .username
      text-overflow: ellipsis
      overflow: hidden
      width: 100%
      white-space: nowrap

  .content-container
    width: 100%

    .info-container
      margin: 8px
      display: flex
      flex-direction: column
      height: 100%

      .info-wrapper
        height: 24px
        display: inline-block

        .type
          display: inline-block
          overflow: hidden
          text-overflow: ellipsis
          width: 100px
          white-space: nowrap

        .info
          display: inline-block
          overflow: hidden
          text-overflow: ellipsis
          width: 200px
          white-space: nowrap
