.list-item
  height: 128px
  margin-bottom: 12px
  display: flex

  .avatar-container
    padding: 4px
    height: 100%
    width: 100px

    .username
      text-overflow: ellipsis
      overflow: hidden
      width: 100%
      white-space: nowrap

  .content-container
    width: 100%

    .info-container
      margin: 4px
      display: flex
      flex-direction: column
      width: 150px
      height: 100%
      background: #ccc

      .info-wrapper
        display: inline
        .type
          width: 100px
          display: inline
        .info
          min-width: 80px
          display: inline
