.info-wrapper
  height: 18px
  white-space: nowrap
  position: relative
  font-size: 12px
  cursor: pointer

  .type
    display: inline-block
    overflow: hidden
    text-overflow: ellipsis
    width: 80px
    white-space: nowrap
    @media screen and (max-width: 321px)
      width: 75px
    @media only screen and (min-width: 321) and (max-width: 1024px)
      width: 200px

  .info
    display: inline-block
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    width: 100
    @media screen and (min-width: 360px)
      width: 140px
    @media screen and (min-width: 412px)
      width: 200px
    @media screen and (min-width: 600px)
      width: 300px
