.sign-in
  width: 250px
  height: 250px
  padding-top: 48px
  padding-left: 78px
  margin: auto

  // HAHAHAHAHA HAHAHA HA Ha ha ... Ow how I suck at frontend... o.0
  .button
    width: 200px
    margin-left: -54
