.tiny-list-item
  margin-bottom: 4px
  font-weight: bold

  .wrap-text
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    display: inline-block
    color: #333

  .li-header
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 6px 8px 0 8px
    height: 26px
    font-size: 16px

    .li-head
      width: 100px

    .li-subsub
      width: 180px
      text-align: end

  .li-divider
    margin-left: 32px
    margin-right: 32px
    margin-bottom: 4px
    height: 1px
    background: #ddd

  .li-content
    margin-top: 4px
    font-weight: normal
    font-size: 12px
    display: flex
    height: 165px
    margin-left: 8px
    flex-wrap: wrap
    flex-direction: column

    .li-commit-msg
      width: 33%
      height: 18px
